<div class="search">
	<div class="search__inner">
		<input type="text" class="search__input" name="search" placeholder="Search for songs">
		<button id="btn-search" class="btn waves-effect waves-light">Search</button>
	</div>
</div>
<div class="main-content">
	<div class="row">
		<div class="col s6 card__panel"> 
			<div class="panel__head">
				<div class="theme">Artists</div>
				<a href="#" class="more valign-wrapper">See all artists</a>
			</div>
			<div class="photos">
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
			</div>
		</div>
		<div class="col s6 card__panel"> 
			<div class="panel__head">
				<div class="theme">Albums</div>
				<a href="#" class="more valign-wrapper">See all albums</a>
			</div>
			<div class="photos">
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
				<div class="photos__elem center-align">
					<div class="img-wrapper">
						<img class="circle" src="http://img.wennermedia.com/920-width/rs-134888-freddie-mercury.jpg">
					</div>
					<h6 class="photos__h6">Fred Closer</h6>
					<p class="photos__p">12 songs</p>
				</div>
			</div>
		</div>
		<div id="table" class="col s12 card__panel"> 
			<div class="panel__head">
				<div class="theme">Songs</div>
				<a href="#" class="more valign-wrapper">See all songs</a>
			</div>
	      	<table class="bordered highlight table">
	        	<thead>
		          <tr>
		          	  <th class="add"></th>
		              <th>Title</th>
		              <th>Artist</th>
		              <th>Album</th>
		              <th class="hide-on-small-only">Time</th>
		              <th>Votes</th>
		          </tr>
		        </thead>

		        <tbody>
		          <tr>
		         	<td><i class="material-icons left">add</i></td>
		            <td>Keep Me Closer</td>
		            <td>Fred Closer</td>
		            <td>Closer</td>
		            <td class="hide-on-small-only">2.17</td>
		            <td><div class="progress" style="background-color: #e8e8e8; width: 90%">
					  <div class="determinate" style="width: 30%; background: linear-gradient(to right, #f44295, #cc2cb4);"></div>
					</div></td>
		          </tr>
		          <tr>
		          	<td><i class="material-icons left">add</i></td>
		            <td>Keep Me Closer</td>
		            <td>Fred Closer</td>
		            <td>Closer</td>
		            <td class="hide-on-small-only">3.57</td>
		            <td><div class="progress" style="background-color: #e8e8e8; width: 90%">
					  <div class="determinate" style="width: 80%; background: linear-gradient(to right, #f44295, #cc2cb4);"></div>
					</div></td>
		          </tr>
		          <tr>
		          	<td><i class="material-icons left">add</i></td>
		            <td>Keep Me Closer</td>
		            <td>Fred Closer</td>
		            <td>Closer</td>
		            <td class="hide-on-small-only">3.47</td>
		            <td><div class="progress" style="background-color: #e8e8e8; width: 90%">
					  <div class="determinate" style="width: 70%; background: linear-gradient(to right, #f44295, #cc2cb4);"></div>
					</div></td>
		          </tr>
		        </tbody>
	      </table>
		</div>
	</div>
</div>