/*GothamBook
Montserrat Regular
Montserrat Light
Montserrat Bold
Montserrat SemiBold*/

@font-face {
  font-family: "GothamBook";
  src: url("assets/fonts/GothamBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


