/*GothamBook
Montserrat Regular
Montserrat Light
Montserrat Bold
Montserrat SemiBold*/

@font-face {
  font-family: "GothamBook";
  src: font-url("GothamBook.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: font-url("Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: font-url("Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: font-url("Montserrat-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: font-url("Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
