// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$player-white: #7b8085;
$nav-grey: white;
$left_gradient: #f84696;
$right_gradient: #c51fa2;
$ltr_gradient: linear-gradient(to right, $left_gradient, $right_gradient);
$main_text: #444444;
$info_text:#f1469c;
.back-button {
  width: 100%;
  color: black;
}

.back-button a {
  color: black;
}

.song-listing{
  line-height: 2.5rem;
  font-size: 20px;
  margin-left: 1%;
  width: 49%;
  display: inline-block;
  opacity: 0.7;
  position: relative;
}

i.fa.fa-plus-circle {
  position: absolute;
  left: 0.2rem;
  bottom: 1rem;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  color: white;
  opacity: 0;
}

.song-listing:hover{
  opacity: 1;
  i.fa.fa-plus-circle{
    opacity: 0.7;
  }
}

img.track-img {
  height: 100%;
  width: 100%;
}
.track-img-container{
  width: 25%;
  float: left;
}
.track-info {
  width: 75%;
  line-height: 1.25rem;
  padding-left: 1rem;
  float: right;
  padding-top: 8%;
}
.trackArtist {
  font-style: italic;
  line-height: 2rem;
}

.header {
  display: table;
  margin: auto;
  font-size: 2rem;
}

.header:hover{
  text-decoration: underline;
}

.album {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.inner-album {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.album-img-container{
  width: 90%;
  margin: auto;
}

.album-img {
  width: 75%;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.album-img:hover{
  opacity: 1.0;
}

.album-title {
  text-align: center;
  width: 88%;
  margin: auto;
  font-size: 1.5rem;
}

.album-title:hover {
  text-decoration: underline;
}

.artist-img-container{
  width: 90%;
  margin: auto;
}

.artist{
  display: inline-block;
  width: 20%;
  margin: auto;
  vertical-align: top;
}

.inner-artist{
  display: inline-block;
  width: 20%;
  margin: auto;
  vertical-align: top;
}

.artist-img {
  width: 75%;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.artist-img:hover{
  opacity: 1.0;
}

.artist-title{
  text-align:center;
  width: 88%;
  margin: auto;
  font-size: 1.5rem;
}

.artist-title:hover {
  text-decoration: underline;
}



.intro-bio {
  font-size: 50px;
  color: white;
}
.back {
  width: 100%;
  opacity: 0.8;
}

.back:hover {
  opacity: 1;
}

.search-container {
  width: 90%;
  position: absolute;
  border-right: 1px black solid;
  border-left:  1px black solid;
  display: inherit;
  z-index: 3;
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.search-submit input[type="submit"] {
  width: 100%;
  height: 2.5rem;
  background-color: #039be5;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1.1rem;
  opacity: 0.85;
  border-bottom: 1px solid black;
}

input#search {
    padding-top: 9px;
    padding-left: 14px;
    width: 98.1%;
}

.search-submit input[type="submit"]:hover {
  opacity: 1;
}

.search-container-show {
  // width: 84.95%;
  // position: absolute;
  // border-right: 1px black solid;
  // border-left:  1px black solid;
  // display: inherit;
  // z-index: 3;
  // background-color: rgba(0,0,0,0.8);
  // color: white;
}

.add-search-container {
  text-align:center;
  padding:20px 25px;
  border-top:1px solid #e9e9f2;
  border-bottom:1px solid #e9e9f2;
}

.add-search-container a {
  width: 116%;
  background-image: linear-gradient(to top, $right_gradient, $left_gradient);
  color:white;
  padding-top:1.1rem;
  padding-bottom:1.1rem;
  font-size:1.1rem;
  display:inline-block;
  margin-left: -8%;

}
.add-search-container a:hover {

  cursor:pointer;
}

.playlist-details {
  background-color: white;
  height: 6rem;
  line-height: 1rem;
  width: 99.9%;
  padding-top:25px;
}
.playlist-name {
  color: $main_text;

  display: block;
  padding-left: 1.6rem;
  margin: 0.25rem;
  font-size:1.3rem;
  color: #444444;
    display: block;
    padding-left: 1.6rem;
    margin: 0.25rem;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.playlist-host{
  padding-left:1.6rem;
  display:block;
}
.playlist-description {
  color: white;
  // width: 33%;
  font-style: italic;
  display: inline-block;
}
.playlist-details-title{
  display:inline-block;

}
.playlist-code {
  border:1px solid #e1dde8;
  border-radius:39px;
  font-size:13px;
  padding: 10px;
  display: inline-block;
  margin:auto auto;
  color: $main_text;
  position:absolute;
  left:50%;
  transform:translateX(-50%);

}

#make-public {

}

#make-public:hover {
  opacity: 1;
}

.main-body {
  background: white/* url('https://static.pexels.com/photos/195280/pexels-photo-195280.jpeg') center center fixed no-repeat*/;
  background-size: cover;
}

#playlist-update-title, #join-title {
  font-size: 3.5rem;
}

nav {

  background: #23232D;
  padding-left: 1rem;
}

iframe {
    width: 100%;
}

.btn {
  padding: 0 15px;
}

.btn:hover:before {
  opacity:1
}

.name-desc-container {
  background-color: rgba(255,255,255,.2);
}

.name-desc {
  display: inline-block;
  margin-right: 19px;
  color: white;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    width: 100%;
    // height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.song-in-queue {
  // background: white;
  border-bottom: 1px solid #e9e9f2;
  // border-left: 1px solid #cccccc;
  // border-right: 1px solid #cccccc;
  padding: 10px 1rem;
  line-height: 1.5;
  // background: linear-gradient(to left, #bfbfc0, rgb(248, 248, 249));
  color: $player-white;
  overflow: hidden;
  position: relative;
  .fa-volume-down, .fa-long-arrow-up, .fa-check{
    font-size:1.2rem;
  }
}

.upvote, .downvote {
  opacity: 0.65;
}

.upvote:hover, .downvote:hover {
  opacity: 1;
}

button.upvote.btn.darken-2 {
  opacity: 1;
  color: white;
}

button.downvote.btn.darken-2 {
  opacity: 1;
  color: white;
}

.playing {
  background-color: rgba(232, 232, 236, 0.4);
}

.song-list {
  z-index: 1;
  background-color: white;
};

.added-by {
  font-size: smaller;
}

.user_info {
  float: right;
    padding-right: 20px;
    margin: 0px;
    line-height: 25px;
    vertical-align:top;

    .user_info_left{
      display:inline-block;
    }
  .user_image{
    width:50px;
  }
  .user_info_right{
    vertical-align:top;
    display:inline-block;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    a{
      display:block;

    }
    .user_info_username{
      background-image:$ltr_gradient;
      color:transparent;
      font-size:1.1rem;
  -webkit-background-clip: text;
  background-clip: text;
    }
    .user_edit{
    font-size:0.9rem;
    }
  }
  .user_info_dropdown{
    display:inline-block;
    vertical-align:top;
    padding-top:5px;
  }


}

.buttons {
    position: absolute;
    right: 7%;
    bottom: 11%;
}

.fa-heart{
  color:#f75889;

}
.fa-heart, .upvote, .downvote{
  font-size:1.5rem;
}
.heart{
  font-size:1.1rem;

}

.nav_bar {
  background: $nav-grey;
   padding-top:20px;
  padding-bottom:20px;
  height:90px;
  color:#666666;
  border-bottom:1px solid #e9e9f2;
  box-shadow:none;
  // background: linear-gradient(to left, #dcb7a0, #aeaeae,#87b5b0)
  .page_title{
  display: inline-block;
    .page_title_main{

  font-weight:300;
      font-size:24px;
      font-family: 'Montserrat', sans-serif;
      margin-top:0;
    }
    .page_title_description{
     font-family: 'Montserrat', sans-serif;
  font-weight:300;
      font-size:16px;
      font-weight:300;

    }


  }
  a{
   color:#666666;
    img{
     width:50px;
    }
  }
}

.btn-flat {
  padding: 0 15px;
  color: white;
}




@media (min-width: 0px) and (max-width: 599px) {
 .q-instructions, .q-description {
   padding: 2rem 3rem;
 }

 #playlist-title {
   font-size: 46px;
 }

 .viewable-screen-front {
   height: 80vh;
 }

 .artist, .album, .inner-artist, .inner-album {
   width: 50%;
 }

 .host-button, .join-button{
   width: 65%;
 }

 .login-form, .join-form, .party-form, .sign-up-form{
   margin: 0px;
   width: 100%;
 }

 .playlist-block{
   text-align: center;
   width: 45%;
   display: inline-block;
 }

 .artist-title, .album-title{
   text-align:center;
   width: 88%;
   margin: auto;
   font-size: 0.8rem;
 }

 footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 3px 0;
  // bottom: -402px;
  // position: absolute;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 9px;
  }
  .song-listing{
    line-height: 2.5rem;
    font-size: 20px;
    margin-left: 1%;
    width: 100%;
    display: inline-block;
    opacity: 0.7;
    position: relative;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  a.btn-flat.delete-song {
    position: relative;
    color: white;
    opacity: 0.7;
    left: 5%;
  }

  a.btn-flat.delete-song:hover {
    color: white;
    opacity: 1;
  }
  .brand-logo{
    transform:none !important


    ;
    left: 5% !important;
  }
 .search-container {
   width: 84.95%;
 }

 #playlist-title {
   font-size: 60px;
 }

 .viewable-screen-front {
   height: 64vh;
 }

 .q-steps {
   display: block;
 }

 .q-instructions, .q-description {
   padding: 4rem 12rem;
 }

 .login-form, .join-form, .party-form, .sign-up-form{
   width: 50%;
   margin-bottom: 10px;
   margin: auto;
   margin-top: 7rem;
 }

 .buttons-user {
   margin-top: 8px;
   .logins, .parties {
     width: 41%;
   }
 }

 .playlist-block{
   text-align: center;
   width: 19%;
   display: inline-block;
 }

 footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 3px 0;
  // bottom: -402px;
  // position: absolute;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  }

  .song-listing{
    line-height: 2.5rem;
    font-size: 20px;
    margin-left: 1%;
    width: 49%;
    display: inline-block;
    opacity: 0.7;
    position: relative;
  }
}

@media (min-width: 0px) and (max-width: 1100px) {
 .public_playlists {
   padding: 2rem 3rem;
 }
 .public_playlist_block {
   width: 49%;
 }
 .song-listing{
   line-height: 2.5rem;
   font-size: 20px;
   margin-left: 1%;
   width: 100%;
   display: inline-block;
   opacity: 0.7;
   position: relative;
 }
}


@media (min-width: 1101px) {
  .public_playlist_block {
    width: 24%;
  }
  .public_playlists {
    padding: 2rem 10rem;
  }
  .song-listing{
    line-height: 2.5rem;
    font-size: 20px;
    margin-left: 1%;
    width: 49%;
    display: inline-block;
    opacity: 0.7;
    position: relative;
  }

}

@media (min-width: 1000px) {
  a.btn-flat.delete-song {
    position: relative;
    color: white;
    opacity: 0.7;
    left: 5%;
  }

  a.btn-flat.delete-song:hover {
    color: white;
    opacity: 1;
  }

 .search-container {
   width: 70%;
 }

 #playlist-title {
   font-size: 60px;
 }

 .viewable-screen-front {
   height: 64vh;
 }

 .login-form, .join-form, .party-form, .sign-up-form{
   width: 50%;
   margin-bottom: 10px;
   margin: auto;
   margin-top: 7rem;
 }

 .song-listing{
   line-height: 2.5rem;
   font-size: 20px;
   margin-left: 1%;
   width: 49%;
   display: inline-block;
   opacity: 0.7;
   position: relative;
 }

 footer {
  width: 100%;
  text-align: center;
  background-color: rgba(55, 55, 55, 0.75);
  padding: 3px 0;
  // bottom: -402px;
  // position: absolute;
  margin-top: 10px;
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

 .buttons-user {
   margin-top: 8px;
   .logins, .parties {
     width: 41%;
   }
 }
 .q-steps {
   display: inline-block;
   width: 24%;

 }

 .playlist-block{
   text-align: center;
   width: 19%;
   display: inline-block;
 }

 .q-instructions, .q-description {
   padding: 4rem 12rem;
 }
}



html{
  position: relative;
}

.hidden {
  display: none;
}

.song-listing {
  border-bottom: rgba(232, 2, 103,0.7);
}

.blocked-message {
    border-radius: 50px;
    padding: 20px;
    margin-top: 15%;
    text-align: center;
    color: white;
}

.emoji {
    height: 95px;
    width: 90px;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 10px;
}

.guestlist-playlist {
  float: right;
  opacity: 0.85;
  margin: 0.25rem;
}

.guestlist-playlist:hover {
  opacity: 1;
}
.guestlist-playlist a {
   text-transform:uppercase;
       background-image:$ltr_gradient;
        color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
      border-radius:40px;
      padding:5px 20px;
      z-index:1;
      font-size:0.86rem;
      position:relative;
      margin-left:25px;
      margin-right:25px;

}
.guestlist-playlist a:after{
           z-index: -1;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: white;
    position: absolute;
    content: '';
    border-radius: 34px;
      }
      .guestlist-playlist a:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
    position: absolute;
    content: '';
    border-radius:34px;
}
li.guest{
  height: 3rem;
  line-height: 2.75rem;
}
 .make_public_wrapper{
    float: right;
  opacity: 0.85;
  text-transform: capitalize;
  margin: 0.25rem;
  margin-right: 0;
  }
.container{
  border-left:1px solid #e1dde8;
  border-right:1px solid #e1dde8;
}
.playlist-code-numbers, .playlist-host-username, .playing>.song-name, .song-added-by-user, .fa-volume-down{
    color:$info_text;
}
.fa-long-arrow-up{
  color:#2498fa;
}
.fa-check{
  color:#944c9e;
}

.thumb_btn{
    box-shadow: none;
    background-color: transparent;
    color: #808080;
    cursor: pointer;
    transition: background-color .2s;
    border: none;
    border-radius: 2px;
    display: inline-block;

    padding: .33rem 0.8rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.delete_song_btn{
  color:#f35058;
  border: 1px solid #f35058;
  text-transform: none;
  font-size:1.5rem;
  margin-left:5rem;
      padding: 0.1rem 2rem;
}
.upvote.voted{
  color:#2498fa;
}
.downvote.voted{
  color: #E57373;
}
.toggle_button{
      width: 55px;
    height: 27px;
    border-radius: 30px;

    background: #e9e9f2;
    position: relative;
        padding: 5px 10px;
    display: inline-block;
     transition: backgorund-image .2s linear;
     margin-left:0.5rem;
}
.toggle_button>i.fa-check{
  display:none;
}
.toggle_button.active{
  background: linear-gradient(to right, #f84696, #c51fa2);
}
.toggle_button.active>i.fa-check{
  display:initial;
  color:white;
}
.toggle_button:after{
         content: '';
    width: 21px;
    height: 21px;
    border-radius: 24px;
    background-color: white;
    position: absolute;
    left: 3px;
    top: 3px;

    transition: left .2s linear;

}
.toggle_button:hover{
  cursor:pointer;
}
.toggle_button.active:after{
  left:32px;

}
.netvote{
  display: inline-block;
    width: 20px;
}

@media (min-width: 481px) {
  .edit-delete {
    text-align: center;
    opacity: 1;
  }

  .hosted-playlist {
    border: rgba(74, 199, 164, 0.9) 1px solid;
    opacity: 0.7;
    height: 12rem;
    position: relative;
    margin-bottom: 0px;
  }

  .guest-playlist {
    border: rgba(232, 2, 103,0.9) 1px solid;
    opacity: 0.7;
    height: 12rem;
    position: relative;
    margin-bottom: 0px;
  }

  .hosteduser-playlist{
    text-align: left;
    padding-top: 45px;
    position: absolute;
    top: 32%;
    left: 2%;
    color: white;
  }

  .guestuser-playlist{
    text-align: left;
    padding-top: 50px;
    position: absolute;
    top: 44%;
    left: 2%;
    color: white;
  }
  .user_info_mob, .user_menu_mob{
    display:none;
  }
}
@media (max-width: 480px) {
  .user_info{
    display:none;
  }
  .user_info_mob{
    float:right;
    font-size:2rem;
    margin-right:25px;
  }
  .user_menu_mob{
    float:left;
    font-size:2rem;
    margin-left:25px;
  }
  .playlist-details-title{
    text-align: left;
    line-height: 3px;
    margin-left: 33%;

  }
  .playlist-host{
      padding-left: 0;
    }
  .playlist-code {
    display: inline-block;
    position:relative;
    border: none;
    text-align: center;
    transform:none;
    left:0;
    margin-left: 30%;
    margin-bottom: 5%;
  }
.make_public_wrapper{
  float:none;
  display: inline-block !important;
  margin-left: 5%;
}
  .hosteduser-playlist{
    text-align: left;
    padding-top: 45px;
    position: absolute;
    top: 19%;
    left: 2%;
    color: white;
  }

  .user-playlist{
    text-align: left;
    padding-top: 45px;
    position: absolute;
    top: 33%;
    left: 2%;
    color: white;
  }

  .hosted-playlist {
    border: rgba(74, 199, 164, 0.9) 1px solid;
    opacity: 0.7;
    height: 10rem;
    position: relative;
    margin-bottom: 0px;
  }

  .guest-playlist {
    border: rgba(232, 2, 103,0.9) 1px solid;
    opacity: 0.7;
    height: 10rem;
    position: relative;
    margin-bottom: 0px;
  }

  i.material-icons.front-pg-symbol {
    position: relative;
}

  .playlist-details {

    height: 100%;
    line-height: 20px;

    text-align:left;
    padding-bottom:20px;

  }

  span.guestlist-playlist {
    width: 50%;

  }

  .guestlist-playlist {
    float: none;
  }

  #make-public {
    float: none;
    text-align:left;
    margin-bottom: -7%;
  }

  .playlist-name {
    padding-left: 0;

  }

  //  Deezer Player
  div#d_player {
      height: 62px;
      display:none;
  }

  //vote
  .buttons {
    float: right;
    width: 115px;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    /* font-size: 5px; */
    top: 0;
    // right:0;


  }
  .buttons *{
    flex-grow:1;
  }
  .guestlist-playlist a {
    border-radius: 0;
    color:white;
   -webkit-background-clip: initial;
    background-clip: initial;
    padding:10px 30px;
    margin-left:0;
    float:right;
  }
  .guestlist-playlist a:after {
    background-color:transparent;
  }
  button.upvote, button.downvote {
    position: relative;
  }
  .delete_song_btn{
    border:none;
    margin-left:0;

  }
  .fa-heart{
    font-size:1.5rem;
  }

  .delete-song i {
     font-size:1.7rem;
     margin-left: 5px;
     margin-right: -6rem;
  }
  .thumb_btn{
    padding:0.15rem 0.4rem;
    line-height:1;
  }
  .netvote{
    width:10px;
    font-size:1em;
  }

  .heart{
    padding:0.15rem 0.4rem;
    text-align: center;
  }
  .song-in-queue.played a.delete-song, .song-in-queue.playing a.delete-song  {
    top: 48%;
    right: 55px;
  }

  .song-in-queue.que {
    height: 7rem;
  }

  .song-in-queue.played, .song-in-queue.playing {
    height: 6rem;
  }

  // 4 Star Playlists
  .song-in-queue.public-que {
      height: 4rem;
  }

  .public-que .heart {
    bottom: 4px;
  }
  .added-by{
    padding-left: 1.5rem;
  }

  // span.buttons {
  //   display: inline-block;
  //   position: relative;
  //   left: 39%;
  //   bottom: 9%;
  // }

}

@media screen and (min-width: 480px) and (max-width: 800px){
  .playlist-code{
    border: 1px solid #e1dde8;
    border-radius: 39px;
    font-size: 13px;
    padding: 10px;
    display: inline-block;
    margin: auto auto;
    color: #444444;
    position: absolute;
    left: 32%;
    transform: translateX(-50%);
  }

  .guestlist-playlist {
    float: right;
    opacity: 0.85;
    margin: 0.25rem;
    margin-top: 0.65rem;
  }

  .heart {
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  .make_public_wrapper{
    float: right;
    opacity: 0.85;
    text-transform: capitalize;
    margin: 0.25rem;
    margin-right: -5px;
  }

  .delete_song_btn{
    color: #f35058;
    border: 1px solid #f35058;
    text-transform: none;
    font-size: 1.5rem;
    margin-left: 3rem;
    padding: 0.1rem 2rem;
  }

}

@media screen and (min-width: 375px) and (max-width: 600px){

}
